{% if winner == "No-one" %}

<br>

<form action="/games/" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Submit">
</form>

{% else %}

<h2>Game Over</h2>

{% if winner == "White" %}
<h2>You lose :(</h2>
{% endif %}

{% if winner == "Black" %}
<h2>You win!</h2>
{% endif %}

<br>

{% endif %}

Black score: {{black_score}} | White score: {{white_score}}
<br>
<br>

<!-- Show x coordinates at top of board -->


{% for row in board_state %}
	{% with forloop.counter0 as i %}
	{% if i == 0%}
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{i}}
	{% elif i == 2 or i == 6 %}
		&nbsp&nbsp&nbsp{{i}}
	{% else %}
		&nbsp&nbsp{{i}}
	{% endif %}
	{% endwith %}
{% endfor %}
<br>

{% for row in board_state %}
	{{forloop.counter0}} &nbsp&nbsp&nbsp
	{% for cell in row %}
		{{ cell }} &nbsp
	{% endfor %}
	<br>
{% endfor %}










