{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<div class='table'>
  <div class='grid lines'>
    <div class='star' style='grid-column-start: 4; grid-column-end: 6; grid-row-start: 4; grid-row-end: 6;'></div>
    <div class='star' style='grid-column-start: 12; grid-column-end: 14; grid-row-start: 4; grid-row-end: 6;'></div>
    <div class='star' style='grid-column-start: 4; grid-column-end: 6; grid-row-start: 12; grid-row-end: 14;'></div>
    <div class='star' style='grid-column-start: 12; grid-column-end: 14; grid-row-start: 12; grid-row-end: 14;'></div>
    <div class='star' style='grid-column-start: 8; grid-column-end: 10; grid-row-start: 8; grid-row-end: 10;'></div>
  </div>
</div>
